*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Belleza', sans-serif;
}

/* Pagina index */

.h_menu{
    background-color: $colordarkblue;
    list-style-type: none;
    @include pad_marg;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start;

li{
    display: inline-block;
}

li a{
    text-decoration: none;
    display: block;
    padding: 5px;
    color: $colorblack;
}

img{
    width: 40px;
    height: 50px;
    position: relative;
    
}
}

.h_principal_banner{
    @include baner_principal(100%, 300px);
}

.h_principal_banner img{
    
    @include pad_marg;
    @include pad_marg;
    opacity: 0.8;
    width: 100%;
    height: 300px;

}

.m_parrafo{
    padding: 30px;
    text-align: center;
}

/* Pagina index main*/
.carousel{
    margin: 30px;
    text-align: $aligncenter;
    display: block;
    background-color: $colorlightblue;


h3{
    text-align: $aligncenter;
    margin-top: 30px;
    margin-bottom: 30px;
    text-decoration: underline;
}

img{
   width: 40%;
   padding-bottom: 10px;
   padding-left: 120px;
   justify-content: $aligncenter;
} 

p{
    padding: 3px;
    margin: 3px;
    text-align: $aligncenter;
}
}

.div_tipos{
    display: flex;
    flex-direction: column;
    padding: 1%;
    justify-content: $aligncenter;
    align-items: $aligncenter;
}

.img_tipos{
    width: 50%;
}

/* Pagina index footer*/

.information{
    display: flex;
    flex-direction: row;
    margin: 20px;
    padding: 20px;
    justify-content: flex-end;

img{
    width: 20px;
    padding: 5px;
    width: 20px;
    position: relative; 
    width: 40px;
}
}

.foot{
img{
    background-image: ("./imagenes/banner footer.png");
    @include baner_principal (100%, 200px)
}
}

/* Pagina contacto */

main h1{
    text-align: $aligncenter;
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.btn{
    margin: 15px;
}

/* Pagina nosotros */

.miranos{
    text-align: $aligncenter;
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
    background-color: $colorbeige;
    text-decoration: underline;
    text-decoration-color: aqua;
    
}


.video {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 50%;

    }
    

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 80%;
}

/*Blog*/

.carousel-inner{
    img{
        width: 60%;
        align-content: center;
        padding-bottom: 10px;
    }

    h5{
        text-align: center;
        font-weight: bold;
        padding-bottom: 10px;

    }
}


 .bienvenidos{
        @include pad_marg;
        text-align: center;
    }


/*tienda*/

.tienda_title{
    text-align: center;
    @include pad_marg;

    h2{
        @include pad_marg;
    }
}

.productos-6{
    .btn{
        background-color: $colordarkblue;
    }
    .card-img{
        height: 80%;
        width: 80%;
        margin-left: 30px;

    }

}


@media screen and (min-width:768px) {
.h_menu {
    background-color: $colorbeige ;
}

.colecciones{
    background-color: $colorbeige ;
}

.information{
    background-color: $colorbeige;
}
}


