*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Belleza', sans-serif;
}

/* Pagina inicio */

.h_menu{
    background-color: rgb(247, 225, 229);
    list-style-type: none;
    color: black;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start;
  
}

.h_menu li{
    display: inline-block;

}
.h_menu li a{
    text-decoration: none;
    display: block;
    padding: 5px;
    
}

.h_logo{

    text-align: top;
    padding: 10px;
    margin: 10px;
    
}

img{
    padding: 10px;
    margin: 10px;
    display: block;
    width: 1300px;
    height: 350px;
    opacity: 0.6;
}

.i_main_parrafo{
    margin: 30px;
    text-align: center;
    display: block;
    background-color: rgb(247, 225, 229) ;
}

